.card{
  border: 2px solid black;
  margin:20px;
  padding: 30px;
  width: 300px;
}
.card img{
  width: 70%;
  margin-top: 20px
}

div {
  background-color: rgb(184, 184, 184)
}

i {
  color: white;
}